<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item routerLink="" (click)="onClose()">
    <mat-icon>eject</mat-icon>
    <span class="nav-caption">Logout</span>
  </a>
</mat-nav-list>
